body {
    font-family: roboto, sans-serif;
    background-color: #E9EBEE;
    margin: 0;
    font-size: 16px;
}

body {
    font-size: 16px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

textarea:focus,
input:focus {
    outline: none;
}

.align-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 7rem;
}

.sign-up-form {
    margin-top: 10px;
}

.text-field {
    width: 340px;
    height: 25px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
}

.text-input {
    height: 25px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 0.8rem;
    width: 70%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.bday {
    font-size: 19px;
    color: #141823;
    margin: 0.8rem 0 5px 0;
}

.select-body {
    display: inline-block;
    width: 60px;
    height: 30px;
    font-size: 13px;
    border: 1px solid #bdc7d8;
    color: #141823;
    border-radius: 5px;
}

.gender-wrap {
    margin: 10px 0;
}

.term {
    font-size: 12px;
}

input.sign-up {
    background-color: #0095FF;
    box-shadow: inset 0 1px 1px #0095FF;
    padding: 10px 50px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 14px 0;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.header {
    font-family: Helvetica, Arial, sans-serif;
    padding: 8px 10%;
    display: flex;
    justify-content: space-between;
    background: white;
    color: black;
    width: 85%;
    height: 40px;
    border-top: 3px solid #f48024;
}

.logo {
    margin: auto 0;
    font-size: 40px;
    flex-basis: 50%;
}

.sign-in-form {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.email-mobile-input {
    margin-left: 10px;
}

.input-text {
    font-size: 12px;
    padding-bottom: 5px;
    margin-top: 20px;
}

.password-input {
    margin-left: 5rem;
    margin-top: 20px;
    margin-right: 1rem;
}

.forgotten-acc {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #9cb48d;
    cursor: pointer;
}

button.sign-in.signup {
    width: 80px;
    height: 30px;
    background-color: #e1ecf4;
    color: #39739d;
    border: 1px solid #bbc0c4;
    border-radius: 5px;
    box-shadow: 0 0 1px black;
    margin-top: 18px;
    cursor: pointer;
    margin-top: 5px;
}

button.sign-in.login {
    width: 80px;
    height: 30px;
    background-color: #0095FF;
    color: white;
    border: 1px solid #bbc0c4;
    border-radius: 5px;
    box-shadow: 0 0 1px black;
    margin-top: 18px;
    cursor: pointer;
    margin-top: 5px;
}

img.img-logo {
    margin-left: -75px;
    width: 135px;
    height: 40px;
    cursor: pointer;
    margin-top: -7px;
}

/* icon in search input */
a.top-bar-menu {
    color: #676767;
}

label {
    position: relative;
  }
  
label > .icon {
    position: absolute;
    top: 90%;
    left: 25px;
    transform: translateY(-50%);
    color: silver;
}
  
label > input {
    padding-left: calc(1em + 10px + 8px);
    width: 618px;
    height: 20px;
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 1rem;
    padding-block: 3px;
}
  
  /*
    SVG SpriteSheet
  */
  
  .spritesheet {
    display: none;
  }
  
  .icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .grid {
      display: flex;
      font-size: 12px;
  }

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.grid-cell {
    margin: 15px;
    margin-top: 0px;
    color: #676767;
    cursor: pointer;
}

/* LOGIN FORM CSS */
.email-mobile-input {
    margin-left: 5rem;
    margin-top: 20px;
    align-self: center;
}

.forgotten-acc {
    font-size: 12px;
    margin-top: 5px;
    color: #f48024;
    cursor: pointer;
    margin-left: 12rem;
}

.log-in-form-wrap {
    border: 2px solid lightgray;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    margin-top: 100px;
    margin-left: 100%;
}

input.sign-in.login {
    background-color: #0095FF;
    box-shadow: inset 0 1px 1px #0095FF;
    padding: 10px 50px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 14px 0;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

input.loginButton {
    background-color: #0095FF;
    box-shadow: inset 0 1px 1px #0095FF;
    padding: 10px 50px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 14px 0;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-left: 11rem;
}

.logoSVG {
    margin-left: 14rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.form-center {
    justify-content: center !important;
    align-items: center !important;
}

/* Profile Page */
.top-bar {
    font-family: Helvetica, Arial, sans-serif;
    padding: 8px 10%;
    display: flex;
    justify-content: space-between;
    background: white;
    color: #676767;
    width: 85%;
    height: 25px;
    border-top: 3px solid #f48024;
}

.top-left-part {
    display: flex;
}

.top-right-part {
    flex-basis: 60%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 25px;
}

.top-css {
    font-family: roboto, Arial, sans-serif;
    font-size: 12px;
    color: #676767;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.search-wrap {
    margin-left: 15px;
}

.topic-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-name-wrap:hover {
    fill:#676767;
}

.notification-svg:hover .cls-1{
    fill:#676767;
}

.help-svg:hover .cls-1{
    fill:#676767;
}

.user-image img {
    width: 25px;
    height: 25px;
    border-radius: 30%;
    margin-top: 3px;
}

/* Image and Name on top bar Profile Page */
.top-pic-name {
    display: flex;
}

/* Cover Photo Profile Page */
.main-area {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}

.profile-left-wrap {
    flex-basis: 15%;
}

.profile-right-wrap {
    flex-basis: 80%;
}

.profile-cover-wrap {
    border-radius: 2px;
    height: 250px;
    background-size: 100%;
    background-position: center;
}

.add-cover-photo {
    font-size: 12px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 5px;
    border: 1px solid white;
    margin: 10px;
    cursor: pointer;
}

.add-cover-photo:hover {
    font-size: 12px;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
}

.upload-cover-opt-wrap {
    position: relative;
}

.add-cover-options {
    margin-left: 10px;
    margin-top: -10px;
    font-size: 13px;
    position: absolute;
    padding: 10px 34px;
    box-shadow: 0 0 20px black;
    background-color: white;
    border-radius: 2px;
    transition: 0.2s;
    z-index: 1;
    display: none;
}

.file-upload {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

label.file-upload-label {
    display: block;
    color: #000;
    border-radius: .4em;
    transition: background .3s;
    cursor: pointer;
}

.upload-cover-photo {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1px;
    width: 0px;
    height: 100%;
    opacity: 0;
}

.add-cover.text {
    margin-left: 5px;
}

.upload-photo-logo {
    width: 25px;
}

.select-cover-photo {
    margin-bottom: 10px;
    cursor: pointer;
}

.dont-add-cover-photo {
    padding-bottom: 57px;
}

/* Profile Photo */
.profile-photo-rest-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-pic-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 75px 0 0 15px;
}

img.profile-pic-me {
    height: 135px;
    width: 135px;
    border: 4px solid white;
    border-radius: 50%;
}

.profile-pic {
    position: relative;
}

.profile-pic-upload {
    background-color: black;
    color: white;
    height: 66px;
    width: 136px;
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: 84px;
    border-bottom-left-radius: 84px;
    margin-bottom: 9px;
    margin-left: 4px;
    opacity: 0;
}

.profile-pic-upload:hover {
    background-color: black;
    color: white;
    height: 66px;
    width: 136px;
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: 84px;
    border-bottom-left-radius: 84px;
    margin-bottom: 9px;
    margin-left: 4px;
    opacity: 0.7;
    transition: 0.3s;
}

.add-profile-photo {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}

img.upload-profile-pic-logo {
    width: 25%;
    margin-bottom: 15px;
}

.profile-name {
    margin-left: 20px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 1px black;
}

.upload-profile-photo {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1px;
    width: 0px;
    height: 100%;
    opacity: 0;
}

.profile-upload-label {
    margin-left: -45px;
    cursor: pointer;
}

.upload-profile-opt-wrap{
    position: relative;
}

/* Cover Bottom Part */
.cover-bottom-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cover-button-css {
    /* color: black; */
    padding: 0 20px;
    font-size: 14px;
    font-weight: 700;
    border-left: 1px solid black;
    color: #f48024;
    cursor: pointer;
}

.cover-button-css:hover {
    /* color: black; */
    padding: 0 20px;
    font-size: 14px;
    font-weight: 700;
    border-left: 1px solid black;
    color: #ffaf6d;
    cursor: pointer;
}

.timeline-button.align-middle.cover-button-css {
    margin-left: -285px;
}

.intro-icon-css {
    width: 10%;
    margin-right: 10px;
}

/* Profile Intro */
.bio-timeline {
    display: flex;
    margin-top: 10px;
}

.bio-intro {
    background-color: white;
    width: 245px;
    box-shadow: 0 0 1px grey;
    border-radius: 10px;
    padding: 10px;
    margin-right: 13px;
}

.intro-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: #847c7c;
}

.intro-icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin-top: 10px;
}

.add-profile-message {
    margin: 5px 0;
}

img.add-profile-css {
    width: 25px;
}

.profile-details {
    color: gray;
    border-top: 1px solid lightgray;
    margin-top: 10px;
    font-size: 12px;
}

.profile-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.profile-3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.profile-4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.profile-5{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.blue {
    color: #2851a3;
    cursor: pointer;
}

.bio-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 10px;
}

.feature-text {
    color: gray;
    text-align: center;
    margin: 10px 0;
}


.add-feature-link.blue {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid #2851a3;
    border-radius: 3px;
}

.bio-feature-logo {
    width: 20%;
}

.link-plus {
    font-size: 20px;
    padding-right: 5px;
}

.link-plus-text {
    padding-right: 5px;
}

/* Create Questions */
.my-icon-ask {
    margin-top: 7px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.status-time-wrap {
    width: 100%;
}

.title-description-text{
    font-size: 12px;
    margin: 5px 0;
}

.tags-description-text{
    font-size: 12px;
    margin: 5px 0;
}

.body-description-text{
    font-size: 12px;
    margin: 5px 0;
}

.questions-wrap{
    display: flex;
}

.question-top{
    font-size:14px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 68px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 5px;
}

.question-med {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    background-color: white;
    width: 100%;
    height: 100%;
}

.question-prof {
    margin: 5px;
}

.question-prof-text-area {
    padding-left: 5px;
    width: 100%;
}

.question-prof-textarea {
    width: 90%;
    height:100%;
    margin: 10px;
}

.question-title.align-middle {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 0;
    resize: none;
    width: 100%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.question-tags.align-middle {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 0;
    resize: none;
    width: 100%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.question.align-middle {
    border: 1px solid lightgray;
    padding: 0;
    resize: none;
    width: 100%;
    height: 80%;
    margin-top: 5px;
}

/* Edit Question Bar */
.edit-question-bar {
    width: 100%;
    border: 1px solid lightgray;
    margin-bottom: -5px;
}

button.edit-content-button-css {
    border: none;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.active {
    border: 1px solid crimson;
}

/* Ask Question Button */
.ask-question-button{
    background-color: #f48024;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 16%;
    height: 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-left: 708px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

.ask-question-button:hover{
    background-color: white;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 16%;
    height: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #f48024;
    margin-left: 708px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

/* Question Post */
.profile-questtion-post {
    display: none;
}

/* Tag in question */
.tag-space-container {
    display: flex;
    margin: 5px 0;
}

.tag-name-wrapper {
    background-color: #f48024;
    color: white;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 2px 2px lightgrey;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-left: 10px;
}

.ask-button-wrap{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ask-button {
    background-color: #f48024;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 16%;
    height: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: white;
    margin-left: 684px;
    cursor: pointer;
}

.ask-button:hover {
    background-color: white;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 16%;
    height: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #f48024;
    margin-left: 684px;
    cursor: pointer;
}

.image-insert-button {
    width: fit-content;
    cursor: pointer;
    background-color: aquamarine;
}